.centeralt		{position:relative;
				width:900px;
				background:#9c9c9c;
				margin:20px 0px 0px 0px;
				}
.centeralt A	{display: block;
				background: #aaaaaa;
				height: 200px;
				width: 275px;
				padding-top: 12px;
				margin: 3px 2px 4px 2px;
				float: left;
				font-family: impact;
				font-size: 14pt;
				letter-spacing: 3px;
				color: #ffffff;
				text-decoration: none;
				text-align: center;
				}
.centeralt A:hover	{background:#ffffff;
				color: #9c9c9c;
				}
.centeralt A.action	{background:#ffffff;
				color:#9c9c9c;
				}